a:hover {
    text-decoration: none;
}



/* Header */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 65s ease infinite;
	height: 100vh;
}

.socialmedia {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    border: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header-background {
    height: 650px;
    
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.navbar-header {
    padding-left: 30px;
    padding-top: 30px;
}

.code-brackets {
    width: 10%;
    height: 10%;
    padding-bottom: 6px;
}

.nav-item {
    padding-right: 15px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav {
      padding-top:30px;
      padding-right: 30px;
      padding-left:30px;
  }

.nav>a {
      text-decoration: none;
  }

  .nav-a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
  }

h1 {
      color: white;
      padding-top: 120px;
      padding-left: 75px;
      font-family: 'IBM Plex Sans Hebrew', sans-serif;
  }

.text1 {
      font-size: 8.5em;
  }

.headline {
    color: white;
    text-decoration: none;
    padding-left: 75px;
    font-size: 1.25em;
  }


/* About us */


.aboutus {
    padding-top: 200px;
    background-color: #313132;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right:300px;
}

.h2-aboutus {
    color: white;
    font-size: 4em;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.text2 {
    color: white;
    font-size: 20px;
}

.img-aboutus {
    width: auto;
    height: auto;
}

.aboutus-column {
    margin: auto;
}

.custom-shape-divider-bottom-1650127872 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650127872 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1650127872 .shape-fill {
    fill: #313132;
}

section {
    position: relative;
}

.img-aboutus {
    margin:auto;
}

.courses {

    background-color: #424245;
    align-items: center;
    padding-top: 100px;
    background-color: #424245;
}

.custom-shape-divider-bottom-1650184860 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650184860 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 48px;
}

.custom-shape-divider-bottom-1650184860 .shape-fill {
    fill: #424245;
}

.p-courses {
    text-align: center;
    font-size: 4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

.col-bg-img-1 {
    background-image: url(img/1.png);
}

.col-bg-img-2 {
    background-image: url(img/2.png);
}

.col-bg-img-3 {
    background-image: url(img/3.png);
}

.grid {
    padding:16px;
    grid-gap: 36px;
    padding-bottom: 250px;
}

.col-courses {
    background-color: #313132;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    display: inline-block;
    width: 33%;
}

button>a {
    text-decoration: none;
    color: #e63d7f;
}

h4 {
    padding-bottom: 20px;
    font-size: 50px;
}

.h4-text {
    font-size: 27px;
    color: #ffffff;
}

.text3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.courses-btn {
    padding: 3px 5px 3px 5px;
    margin-top: 20px;
    background-color: #313132;
    border-radius: 3px;
    font-weight: bold;
    color: #e63d7f;
    border-color: #e63d7f;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.courses-btn:hover {
    background-color: #e63d7f;
    color: white;
    transition: 0.3s;
}

.custom-shape-divider-bottom-1650199944 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650199944 svg {
    position: relative;
    display: block;
    width: calc(201% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1650199944 .shape-fill {
    fill: #313132;
}

.map-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.container-map {
    background-color: #424245;
}

.map {
    padding-top: 10px;
    padding-bottom: 10px;
}

.map-section {
    background-color: #313132;
}

.map-logo {
    padding-top:10px;
    padding-bottom: 20px;
}

.map-brand {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;

}

.code-brackets-2 {
    width: 18%;
    height: 18%;
    padding-bottom: 6px;
}

h6 {
    color: white;
}

.h6-map {
    font-size: 25px;
}

.p-map {
    color:white;
    padding-bottom: 10px;
}




/* Footer */

.footer-brand {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.code-brackets-1 {
    width: 7%;
    height: 7%;
    padding-bottom: 6px;
}

h6>a {
    text-decoration: none;
}

.custom-shape-divider-top-1650215703 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1650215703 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1650215703 .shape-fill {
    fill: #313132;
}















/* Contacts page style */
.custom-shape-divider-bottom-1650215603 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650215603 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1650215603 .shape-fill {
    fill: #313132;
}


.section-bg {
    background-color: #313132;
    height: auto;
    padding-bottom: 200px;
}

.h2-text {
    text-align: center;
    font-size: 4em;
    color: white;
    padding-top: 200px;
    padding-bottom: 50px;
}

.h2-text2 {
    color: white;
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
}

.p-contacts {
    color: white;
    font-size: 15px;
}

.row-contacts {
    padding-bottom: 75px;
}

.col-contacts-text {
    background-color: #424245;
    padding: 20px;
}

.map-contacts {
    background-color: #424245;
}


.col-img-1 {
    background-image: url(img/3.1.png);
}

.col-img-2 {
    background-image: url(img/3.2.png);
}

.col-img-3 {
    background-image: url(img/3.3.png);
}













/* Aboutus page style */

.h2-aboutus-text {
    color: white;
    font-size: 4em;
    text-align: left;
    padding-top: 250px;
    padding-bottom: 50px;
}

.img-aboutus-2 {
    padding-top: 250px;
}











/* Courses page style */

.col-courses-2 {
    background-color: #424245;
    padding: 20px;
}

.h2-design {
    color: white;
    font-size: 4em;
    padding-left: 125px;
}

.courses-grid {
    padding-bottom: 100px;
}

.btn-2 {
    background-color: #424245;
}